html{
	background-image: url("images/Paul_Background-02.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 240px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	float: right;
    margin-top: 0;
    margin-bottom: 0;
}
h2{
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 100px;
}
p{
	font-size: 12pt;
    letter-spacing: .5px;
    line-height: 18px;
}
ul{
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
	padding-left: 12px;
    padding-top: 250px;
}
.SideNav li{
	height:30px;
	/*
	margin-bottom: 5px;*/
	transition:all .5s;
}
.SideNav{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	color:white;
	background-color: black;
    display: block;
    width: 100px;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
}

#copy{
	font-family: "Helvetica", Arial, sans-serif;
    padding-top: 300px;
    width: 40%;
    text-align:left;
    padding-left: 39%;
}
.gallery {
    margin-left: 100px;
    border: 1px solid #ccc;
    float: right;
    width: 918px;
}

.gallery hover{

    border: 1px solid #777;
}
.gallery a {
	width: 180px;
    display: inline-block;
    position:relative;
}
.gallery img {
    width: 100%;
    height: 50%;
}
.container{
	position:relative;
}
.overlay{
	position:absolute;
	top:0;
	bottom:0;left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 140, 186,0.5);
	text-align: center;

}
a:hover .overlay{
opacity:1;
}
/*.container:hover.overlay{
	opacity:1;
}*/
.buttontxt{
	color:white;
	font-size:20px;
	position:absolute;
	top:50%;
	width:100%;
}
/* a:link{
	color: white;
	text-decoration:none;
	transition:all 1s;
}
a:visited{
	color:white;
	text-decoration:none; 
}/*
a:hover{
	background-color:white;
	color:black;
	padding-right:600px;
	padding-top:5px;
}*/
li a {
	color:white;
	float:left;
	transition:all .5s;
	text-decoration: none;
}
li:hover{
	width:500px;
	background-color:#fff;
}
li:hover a{
	color:black;
	float:right;
	margin-top:4px;
	width:100%;
	display:inline-block;
	text-align:right;
}
a:active{

}
.sourceinfo{
	padding-top: 300px;
    width: 40%;
    text-align:left;
    padding-left: 39%;
    color:black;
}
#info{
	color:black;
}
